name: vaultwarden
services:
  vaultwarden:
    image: vaultwarden/server:{{ vaultwarden_version }}@sha256:d626d04934cd1192ad8ced1adb975099fca78cec33ab467d2d3c923cde7f3b0c
    container_name: vaultwarden
    restart: unless-stopped
    environment:
      DOMAIN: "https://{{ vaultwarden_domain_name }}"
      SIGNUPS_ALLOWED: "true"
    volumes:
      - ./vw-data:/data
    expose:
      - "{{ vaultwarden_port }}"
